<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
	</configSections>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<pages controlRenderingCompatibilityVersion="4.0" />
		<httpModules>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
		</modules>
	</system.webServer>
</configuration>